@using EmployeeTask.Models.Entities.EmpyoyeeModels;
@model ICollection<EmployeeViewModel>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>FullName</th>
                <th>Birthday</th>
                <th>Salary</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.FullName</td>
                    <td>@obj.Birthday</td>
                    <td>@obj.Salary</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.Email</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="@Url.Action("getbyid", "employee", new { id = obj.Id })">Info</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
