@using EmployeeTask.Models.Entities.TaskModels;
@model List<TaskViewModel>;


<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.DueDate</td>
                    <td>@obj.IsCompleted</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="@Url.Action("getbyid", "task", new { id = obj.Id })">Info</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
